.signIn-wrapper {
    text-align: center;
    width: 30vw;
    margin: auto;
}
.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 70px;
    width: 100%;
    margin: auto;
    cursor: pointer;
    height: 7vh;
}
.google-btn img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    
}
.apple-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 70px;
    width: 100%;
    margin: auto;
    cursor: pointer;
    height: 7vh;
    
}
.apple-btn img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.signIn-section {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}
.ruler {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ruler hr {
    width: 15vw;
    height: 0;
    margin: 5px 20px;
}
.logo {
    text-align: center;
    margin: 1.5rem;
}
.logo img {
    height: 40px;
    width: 40px;
}
.input-box input {
    width: 100%;
    height: 7vh;
    font-size: 18px;
    padding-left: 10px;
}
.next-btn {
    width: 100%;
    margin: auto;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}
.forgot-passBtn {
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 50px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    width: auto;
}
.signup-text a {
    text-decoration: none;
    color: #29A8DF;
    font-size: 18px;
}
.signbtn{
    margin-bottom: 25px;
}
